<html>
<head>

</head>
<body>
<div>
  <h2>The battle has begun!</h2><br><br>

  <h3>Hit Points</h3>

  <div id="player1_div">
    <%= $game.player1.name %>: <%= $game.player1.hit_points %>
  </div>

  <div id="player2_div">
    <%= $game.player2.name %>: <%= $game.player2.hit_points %>
  </div>


</div>
</body>
</html>