<h1>Welcome to the Eternal Battle Game!</h1>
<div>
  Please enter the names of the two players:<br><br>
  <form action="/names" method="post">
    Player 1: <input type='text' name='name1'><br>
    Player 2: <input type='text' name='name2'><br><br>

    <input type="submit" value='Submit'>
  </form>
</div>
