<head>
  <style>
    div {
        font-family: Baskerville;
        color: blueviolet;
        border: solid aqua;
    }
  </style>
</head>

<body>
  <h1>Welcome to the Eternal Battle Game!</h1>
  <div>
    Please enter the names of the two players:<br><br>
    <form action="/names" method="post">
      <div>
        Player 1: <input type='text' name='name1'><br>
        Player 2: <input type='text' name='name2'><br><br>
      </div>

      <input type="submit" value='Submit' style="color: blueviolet">
    </form>
  </div>
</body>

